footer {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.footer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/pxfuel.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.description-info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
}

.description-info h6 {
    text-align: justify;
    padding: 5px;
}

.description-info img {
    display: none;
}

.contact-info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 40%;
    
    justify-content: start;
    align-items: start;
}

.contact-info h3{
    margin: 0;
    padding: 0;
}

.contact-info div{
    display: flex;
    flex-direction: row;
    height: 40px;
}

.contact-info div p{
 margin: 0;
}

.contact-info div span{
    padding-left: 4px;
}

.sing-dev{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.747);
    font-size: small;
}