section {
    color: rgb(100, 100, 100);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
    border-radius: 15px 15px 0 0;
    padding: 10px;
    width: 95%;
    margin-right: 0;
}

.sect-name{
    text-align: start;
    text-transform: uppercase;
    font-family: system-ui, -apple-system;
    font-size: 1.5rem;
    color: rgb(61, 61, 61);
    font-weight: bold;
    padding-left: 1.5rem;
    border-bottom: 1px solid rgba(153, 149, 149, 0.377);
    width: 95%;
    padding-bottom: 5px;
}
.item-list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-inline-start: 0;
    
}
.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 50px;
    font-size: 1.2rem;
    border-bottom: 1px dotted rgba(105, 103, 103, 0.192);
}
.display-flex {
    display: flex;
}

.price-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    font-size: 0.7rem;
    text-transform: uppercase;
}

.price-item h5 {
    font-weight: bold;
    font-size: large;
}

.price-item p {
    color: grey;

}